.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    font-family: inherit;
    padding: 8px 16px;
    text-decoration: none;
    outline: 1px solid transparent;
    color: black;
    font-size: large;
    background-color: rgb(209 213 219);
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(199, 182, 182, 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

    &:hover,
    &:focus {
        background-color: #3b82f6;
        color: white;
    }

    &[disabled] {
        color: rgb(168, 168, 168);
        cursor: no-drop;
        background-color: #dbdbdb;
    }
}

.text {
    font-size: large;
    text-decoration: underline;
}